/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* layout */
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-65{
    width: 65%;
    background-color: rgb(0, 166, 255);
    border: 1px dashed black;
}

.col-35{
    width: 35%;
    background-color: pink;
    border: 1px dashed black;
}

.col-100{
    width: 100%;
    background-color: green;
    border: 1px dashed black;
}

.col-2-6{
    width: calc(100% / 6 * 2);
    background-color: rgb(253, 181, 193);
    border: 1px dashed black;
}


.col-1-6{
    width: calc(100% / 6);
    background-color: rgb(0, 247, 255);
    border: 1px dashed white;
}





/* HEADER */
.main-header{
    background-color: rgb(182, 249, 226);
    padding: 20px;
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed black;
    background-color: yellow;
}

.main-menu{
    display: flex;
    gap: 10px;
    border: 1px dashed black;
}

/* MAIN */
.layout-1{
    background-color: blue;
    padding: 30px; 
}

.main-section{
    min-height: 300px;
    max-width: 700px;
    background-color: palevioletred;
    margin: auto;
    border: 1px dashed black;   
}


.layout-2{
    background-color: white;
    padding: 30px;  
}

.main-layout{
    min-height: 300px;
    border: 1px dashed black;
}

.layout-3{
    background-color: gray;
    padding: 30px;     
}

.body-layout{
    min-height: 500px;
}

.layout-4{
    padding: 30px;  
    background-color: darkgrey;  
}

/* FOOTER */
.main-footer{
    background-color: darkgrey;
    border-top: 1px solid white;
}

.bordo{
    border: 1px dashed black;
    background-color: palevioletred;
}

.row-footer{
    background-color: rgb(182, 249, 226);
}



/* DEBUG RULES */
.debug .container{
    border: 2px dashed black;
}

.debug .row{
    border: 2px dashed red;
    padding: 16px;
}

.debug .row > *{
    border: 2px dashed green;
    padding: 16px;
}